form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
header,
footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.dateBox {
    border: 1px solid black;
}

.conceptBox {
    border: 1px solid black;
}

.entryBox {
    border: 1px solid black;
}

.moodBox {
    border: 1px solid black;
}
